
import("methods")

import("matter")

import("ontologyIndex")

import("S4Vectors")

importFrom("stats", "setNames")

importFrom("utils", "packageVersion")

importFrom("tools",
	"file_ext",
	"file_path_sans_ext")

exportMethods("metadata")

export(
	"get_obo",
	"valid_terms",
	"find_terms",
	"find_term",
	"find_descendants_in")

S3method("print", "imzplist")

exportClasses(
	"Analyze75",
	"ImzMeta",
	"ImzML")

export(
	"ImzMeta",
	"parseAnalyze",
	"parseImzML",
	"exampleImzMLFile")

exportMethods(
	"writeAnalyze",
	"writeImzML")

useDynLib("CardinalIO", .registration=TRUE, .fixes="C_")
