
import("methods")

import("BiocGenerics")

import("ProtGenerics")

import("S4Vectors")

import("ontologyIndex")

import("matter")

importFrom("stats", "setNames")

importFrom("utils", "packageVersion")

importFrom("tools",
	"file_ext",
	"file_path_sans_ext")

exportMethods("metadata")

export(
	"get_obo",
	"valid_terms",
	"find_terms",
	"find_term",
	"find_descendants_in")

S3method("print", "imzplist")

exportClasses(
	"ImzMeta",
	"ImzML")

exportMethods(
	"mz",
	"intensity",
	"checksum")

export(
	"ImzMeta",
	"parseImzML",
	"exampleImzMLFile")

exportMethods("writeImzML")

useDynLib("CardinalIO", .registration=TRUE, .fixes="C_")
