
import("methods")

import("ProtGenerics")

import("S4Vectors")

import("ontologyIndex")

import("matter")

importFrom("stats", "setNames")

importFrom("utils", "packageVersion")

export(
	"get_obo",
	"valid_terms",
	"find_terms",
	"find_term",
	"must_terms")

S3method("print", "imzplist")

exportClasses("ImzML")

export(
	"parseImzML",
	"exampleImzMLFile")

exportMethods("writeImzML")

useDynLib("CardinalIO", .registration=TRUE, .fixes="C_")
